.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5rem 9rem;
    padding: 0 0 3.3rem 0;
    border-bottom: 0.4rem solid #e4e4e4;
}

.navbar .logo {
    height: 2.5rem;
    width: 16rem;
}

.containerCart {
    position: relative;
}

.containerCart .cartIcon {
    bottom: -1.5rem;
    cursor: pointer;
    height: 3.8rem;
    position: absolute;
    right: 0;
    width: 5.4rem;
}

.containerCart span {
    background-color: #000;
    bottom: -3rem;
    color: #fff;
    font-size: 2rem;
    padding: 0 .5rem;
    position: absolute;
    right: -.5rem;
}

.containerCart-products {
    border: .4rem solid #e4e4e4;
    background-color: #fff;
    border-radius: 0;
    height: auto;
    position: absolute;
    right: 0;
    top: 4.5rem;
    width: 44rem;
    z-index: 9;
}

.containerCart-products ul {
    padding: 2.4rem;
}

.containerCart-products hr {
    border: 1px solid #C2C2C2;
    margin: 2.4rem 0;
}

.cartItems {
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

.cartItems .cartItems-delete {
    height: 3rem;
    width: 100%;
    text-align: end;
    margin-bottom: 2rem;
}

.cartItems .cartItems-delete .deleteIcon {
    cursor: pointer;
    height: 2rem;
    stroke-width: 5rem;
    width: 2rem;
}

.cartItems .cartItems-info,
.cartItems .cartItems-pic {
    width: 50%;
}

.cartItems .cartItems-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartItems-pic img {
    height: 8.6rem;
    object-fit: cover;
    width: 100%;
}

.cartItems-name {
    font-size: 2rem;
    font-weight: 700;
}

.cartItems-price {
    font-size: 2.9rem;
    font-weight: 400;
    color: #656565;
}

.clearButton {
    background-color: #fff;
    border: .1rem solid #000;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-size: 2.3rem;
    font-weight: 500;
    padding: 1.4rem 5.2rem;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .navbar {
        margin: 0 0 3rem 0;
        padding: 3rem;
        border-bottom: 0.4rem solid #e4e4e4;
    }
    .containerCart-products {
        right: -3rem;
        top: 4.2rem;
        width: auto;
        z-index: 9;
    }
}