.picDaySection {
    border-bottom: 0.4rem solid #e4e4e4;
    margin: 5rem 9rem;
    padding: 0 0 1.5rem 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.header .addCartButtonDesktop {
    background-color: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 2.3rem;
    height: 5rem;
    padding: 1.3rem 4rem;
}

.addCartButtonMobile {
    background-color: #000;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 2.3rem;
    height: 5rem;
    margin-top: 3rem;
    padding: 1.3rem 4rem;
    width: 100%;
}

.picOfDay {
    position: relative;
}

.picOfDay img {
    height: 55rem;
    object-fit: cover;
    overflow: hidden;
    width: 100%;
}

.picOfDay h4 {
    background-color: #fff;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 2rem 4rem;
    position: absolute;
}

.other {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6rem;
    margin-top: 4.3rem;
}

.other .aboutPic,
.other .otherDetails {
    width: 50%;
}

.other .aboutPic h4 {
    margin-bottom: 1rem;
}

.other .otherDetails h4 {
    margin-bottom: 3rem;
}

.other .aboutPic span {
    color: #656565;
    font-size: 2rem;
    font-weight: 700;
}

.other .aboutPic p {
    color: #656565;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

.other .otherDetails h4,
.other .otherDetails p {
    text-align: end;
}

.other .otherDetails h4 {
    margin-bottom: 0.9rem;
}

.other .otherDetails p {
    color: #656565;
    margin-bottom: 0.7rem;
}

.other .otherBuys {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 5.4rem;
}

.other .otherBuys img {
    height: 11.4rem;
    margin-left: 1rem;
    object-fit: cover;
    overflow: hidden;
    width: 11.7rem;
}

@media screen and (max-width: 767px) {
    .picDaySection {
        margin: 0;
        padding: 1.4rem;
    }
    .header {
        flex-wrap: wrap;
    }
    .addCartButtonDesktop {
        display: none;
    }
    .addCartButtonMobile {
        display: block;
    }
    .picOfDay img {
        height: 24rem;
    }
    .picOfDay h4 {
        bottom: 8rem;
        font-size: 1.4rem;
    }
    .other {
        flex-wrap: wrap;
    }
    .other .aboutPic,
    .other .otherDetails {
        width: 100%;
    }
    .other .aboutPic h4 {
        margin-bottom: 5.4rem;
    }
    .category {
        display: none;
    }
    .other .otherDetails h4,
    .other .otherDetails p {
        text-align: start;
    }
    .other .otherDetails h4 {
        margin: 3rem 0;
    }
    .other {
        margin-bottom: 3.9rem;
    }
    .other .otherBuys {
        justify-content: space-between;
    }
}